<%= form_for @movie do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :actor %>
    <%= f.text_field :actor %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>